body{
    display:flex;
    flex-direction:column;
    margin: 0;
    background-color: #3057E1;
    font-family: 'Roboto', sans-serif;
}

header {
    color: #CED8F7;
    border-bottom: 1px solid;
    margin: 0;
    margin-bottom:20px;
    padding: 5px;
    text-align: center;
    text-shadow: -2px 2px #1f316e;
    font-weight: bold;
    top: 0;
    width: 100%;

}

header h1{
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    margin: 20px 20px;
    height:100%;
    gap:0px;
}

.interface{
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 10px;
    width: 100%;
    right:auto;
    margin-bottom:0;
}

#sidemenu {
    display: flex;
    flex-direction: column;
    border: solid;
    border-width: 2px;
    border-color: #1f316e;
    border-radius:10px;
    padding: 10px;
    gap: 5px;
    width: 50px;
    height: 180px;
}

button{
    width: 50px;
    height: 15px;
    font-size:8px;
    color: white;
    border-color: #CED8F7;
    background-color:#002082;
}

.clear:hover,.blackMode:hover,.rainbowMode:hover{
    background-color:#4A6DE5;
    transform: scale(1.10);

}

.rainbowMode{
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
}

#inputSlider {
    width: 50px;
}

.divRow {
    display:flex;
    flex-direction:row;
}

.divGrid {
    background-color:white;
}

#divContainer {
    display:flex;
    flex-direction: column;
    width:200px;
    height:200px;
    border: solid;
    border-width: 2px;
    border-color:#1f316e;
    gap:0%;
    margin:0;
}

.sliderContainer{
    display: flex;
    flex-direction: column;
    gap:0px;
}

#inputSlider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 45px; 
    height: 7px; 
    background: #3056e167; 
    outline: none; 
    opacity: 1; 
  }

  #inputSlider:hover {
    transform: scale(1.05);
  }

  #inputSlider::-webkit-slider-thumb {
    width: 5px; 
    height: 5px;
    background: white; 
    cursor: pointer; 
  }
  
  #inputSlider::-moz-range-thumb {
    width: 5px; 
    height: 5px;
    background: white; 
    cursor: pointer;
  }

#outputSlider{
    color:white;
    font-size: 10px;
    left: 0;
    right: 0;
}

.coordinates{
    text-align:end;
    right:auto;
    position: relative;

}
.coordinates p{
    font-size:6px;
    font-weight:bold;
    color: rgb(206, 216, 247);
    margin-top:0;
    margin-bottom:20px;
    padding:0;
}

footer{
    bottom:0;
    left:0;
    flex-shrink: 0;
    align-items: center;
    width: 100%;
}
footer a {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    color: #CED8F7;
    border-top: 1px solid;
    text-align: center;
    font-size:5px;
    font-weight:bold;
    text-decoration: none;
}
