.divRow {
    display:flex;
    flex-direction:row;
}

.divGrid {
    background-color:white;
}

#divContainer {
    display:flex;
    flex-direction: column;
    width:256px;
    height:256px;
    border: solid;
    border-width: 1px;
    border-color: black;
    gap:0%;
    margin:0;
}